.THIS .slds-card {
    position: relative;
    padding: 0;
    background: #fff;
    border: 1px solid #dddbda!important;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}

.THIS .slds-modal__close{
    top:-2rem !important;
}

.THIS .FNS_spinner{
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 45px;
    margin-bottom: 45px; 
}

.THIS .fns_thead{
    font-size: .75rem !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    letter-spacing: .0625rem !important;
    font-family:Arimo, sans-serif!important;
    text-align:left;
    padding: .25rem .5rem;
    height: 2rem;
    background-color: rgb(243, 242, 242) !important;
}

.THIS .fns-table-record{
    text-align:justify;
    height: 1.25rem;
    font-size:14px;
    color:rgb(8, 7, 7);
    padding : 0 1%;
}