.THIS .italic { 
    font-style: italic;         
}

.THIS .FNS_headings{
    background-color: rgb(243, 242, 242);
    color: rgb(81, 79, 77);
    border-bottom: 1px solid #ccc;
}

.THIS .fns-bg-color svg{
    fill:white;
    width: 0.9rem;
    height: 0.9rem;
}

.THIS .fns-custom-icon{
    background-color:#036464;
    padding:0.3rem;
}

.THIS .customborder {
    border-color: #D8DDE6;
    border-bottom:1px solid;
    border-right:1px solid;
    border-left :1px solid;
    border-top:1px solid;
}

.THIS .slds-backdrop_close {
    visibility: visible;
    opacity: 0.4;
    transition: opacity .4s linear;
}